body{
    font-family: Arial, sans-serif;
    overflow: hidden;
}

@media (min-height: 700px) {
    body {
        height: calc(var(--vh, 1vh) * 100);
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
}

.container-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.construction {
    width: 450px;
}

.ribbon {
    position: absolute;
    width: 350px;
}

.ribbon-up {
    top: 45px;
    left: -100px;
    transform: rotate(-56deg);
}

.ribbon-down {
    bottom: 60px;
    right: -86px;
    transform: rotate(145deg);
}

p {
    padding: 20px;
}